PORT=4000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:MAT_KHAU@localhost:5432/cinemind?schema=public"
CLIENT_URL=http://localhost:5173
JWT_ACCESS_SECRET=doi-thanh-chuoi-ngau-nhien-dai
JWT_REFRESH_SECRET=doi-thanh-chuoi-ngau-nhien-khac
VNP_TMN_CODE=
VNP_HASH_SECRET=
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=http://localhost:5173/payment/result
